html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

/* CSS Styling for Responsive Header Below */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(to bottom, #FAF1DF 30%, transparent);
    z-index: 9998;
    top: 0;
    min-height: 175px;
    font-family: 'Comfortaa', cursive;
    position: absolute;

    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    padding: 0 20px;
    white-space: nowrap;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: -50px;
}

.logo {
    max-width: 100%;
    height: auto;
    padding: 50px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-options {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 20px 50px;
}

.nav-options a:hover {
    font-size: .925rem;
    text-decoration: underline;
    transition: all 0.5s ease;
}

@media (max-width: 1070px) {
    header {
        flex-direction: column;
        align-items: center;
        margin: -180px 0 0 0;
    }
    .header {
        min-height: 350px;
    }
    .logo {
        padding: 0;
    }
}

@media (max-width: 730px) {
    header {
        margin: -220px 0 0 0;
    }
    .header {
        min-height: 500px;
    }
    .nav-options {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

/* CSS Styling for Responsive Header Above */

.hero-section {
    position: relative;
    text-align: center;
    padding: 0 30px;
    background: url('Portfolio_Images/02-new-about-hero-bg.png') no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
}

.hero-section h1 {
    margin-top: 350px;
    font-size: 4.5rem;
}

h1 {
    font-size: 3rem;
}

.hero-section h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.375rem;
    margin-top: 15px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.375rem;
}

.hero-section h3 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.5rem
}

.hero-section p {
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
}

.hero-content-line2 {
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
}

.opening-portrait {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (min-width: 730px) {
    .hero-section h1 {
        margin-top: 300px;
        font-size: 4.5rem;
    }
    .hero-content-line2 {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .hero-section {
        padding: 0 50px;
    }
    .opening-portrait {
        max-width: 50%;
        height: auto;
    }
}

@media (min-width: 1070px) {
    .hero-section h1 {
        font-size: 6rem;
        margin-top: 200px;
        white-space: normal;
    }
    .hero-section h2 {
        font-size: 1.375rem;
    }
    .hero-section h3 {
        font-size: 4.5rem;
    }
    .hero-section p {
        font-size: 1.125rem;
        line-height: 1.5;
        padding-left: 300px;
    }
    .hero-section {
        padding: 0 100px 0 60px;
        display: flex;
    }
    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
    }
    .hero-content {
        text-align: right;
    }
    .opening-portrait {
        max-width: 200%;
        height: auto;
        margin-top: 200px;
    }
    .hero-content-line2 {
        justify-content: end;
        margin: 10px 0;
    }
}

@media (min-width: 1400px) {
    .hero-section p {
        padding-left: 450px;
    }
    .opening-portrait {
        max-width: 250%;
        height: auto;
        margin-top: 200px;
    }
    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}




.skill-set-section {
    padding: 0;
}

.skill-set-title-container {
    text-align: center;
    background: url('Portfolio_Images/02_skill_set_title_bg.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.skill-set-section h1 {
    font-size: 3rem;
    text-align: center;
    white-space: nowrap;
}

.feather-1 {
    max-width: 30%;
    height: auto;
}

.skill-set-title-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 30px;
}

.skill-set-title-row img {
    margin: -30px 0 0 -30px;
}

.skill-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 730px) {
    .skill-set-section h1 {
        font-size: 4.5rem;
    }
    .feather-1 {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 1070px) {
    .skill-set-section h1 {
        font-size: 6rem;
        margin: 20px;
    }
    .feather-1 {
        max-width: 100%;
        height: auto;
    }
    .skill-img-container {
        margin-top: 100px;
    }
}




  
.specialties-assets-title-container {
    margin-top: 20px;
}

.feather-2 {
    max-width: 30%;
    height: auto;
}

.specialties-assets-title-row h1 {
    line-height: .95;
}

.specialties-assets-img {
    margin-top: 80px;
}

@media (min-width: 525px) {
    .feather-2 {
        margin-right: -50px;
    }
}

@media (min-width: 730px) {
    .feather-2 {
        margin-right: 30px;
        margin-left: -100px;
    }
    .specialties-assets-title-container {
        padding: 10px;
    }
    .specialties-assets-title-row {
        padding: 50px;
        margin: 0;
        justify-content: center;
    }
    .specialties-assets-title-container h1 {
        font-size: 4rem;
        margin: 10px 0 0 -60px;
        white-space: nowrap;
    }
    .feather-2 {
        max-width: 25%;
        height: auto;
    }
    .specialties-assets-img {
        margin-top: 0;
    }
}





@media (min-width: 1070px) {
    .specialties-assets-title-container h1 {
        font-size: 6rem;
        margin: 40px 0 0 -100px;
    }
    .specialties-assets-title-container {
        padding: 0 50px;
    }
    .specialties-assets-title-row {
        padding: 0 100px;
        margin: 0;
    }
    .feather-2 {
        max-width: 25%;
        height: auto;
        margin-left: -10px;
    }
    .specialties-assets-img {
        margin-top: 80px;
    }
}

@media (min-width: 1280px) {
    .specialties-assets-title-row {
        padding: 50px;
        margin: 0;
    }
    .specialties-assets-img {
        margin-top: 120px;
    }
}

@media (min-width: 1290px) {
    .specialties-assets-title-row {
        padding: 0 50px 0 0;
        margin: 0 0 -200px 0;
        justify-content: start;
    }
    .specialties-assets-img {
        margin-top: 0;
    }
}

@media (min-width: 1400px) {
    .feather-2 {
        margin: 0 -20px 0 50px;
    }
}





.specialties-assets-img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin-top: -70px;
}

.specialties-assets-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.specialties-assets-png {
    width: 100%;
    height: auto;
}






.design-process-title-container {
    margin-top: 30px;
    padding: 0;
}

.design-process-title-container h1 {
    margin: 13px;
}

@media (min-width: 730px) {
    .design-process-title-container h1 {
        font-size: 4.5rem;
        margin: 40px;
    }
}

@media (min-width: 1070px) {
    .design-process-title-container h1 {
        font-size: 6rem;
        margin: 80px;
    }
}




.double-diamond-img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: -30px 0 10px 0;
}

.double-diamond-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.double-diamond-png {
    width: 100%;
    height: auto;
}

@media (min-width: 730px) {
    .double-diamond-img-container {
        margin-top: -80px;
    }
}

@media (min-width: 1070px) {
    .double-diamond-img-container {
        margin-top: -120px;
    }
}



.design-process-text {
    text-align: center;
    margin-top: -50px;
    padding: 0 30px;
}

@media (min-width: 730px) {
    .design-process-text {
        margin-top: -120px;
        padding: 0 50px;
    }
}

@media (min-width: 1070px) {
    .design-process-text {
        margin-top: -200px;
    }
}

@media (min-width: 1400px) {
    .design-process-text {
        margin-top: -250px;
    }
}


.my-goal-title-container {
    margin-top: 20px;
    padding: 0;
}

.feather-3 {
    max-width: 20%;
    height: auto;
    margin-left: -10px;
}

.my-goal-title-row h1 {
    line-height: .95;
    text-align: center;
}

.my-goal-bg-img-container {
    padding: 80px 0;
}

.my-goal-title-row {
    padding: 0 20px;
}

.my-goal-title-row h1, .my-goal-title-row img {
    margin-top: -20px;
}

@media (min-width: 730px) {
    .my-goal-title-container {
        padding: 0;
    }
    .my-goal-title-row {
        padding: 0;
        margin: 80px;
    }
    .my-goal-title-container h1 {
        font-size: 4.5rem;
    }
    .feather-3 {
        max-width: 20%;
        height: auto;
    }
    .my-goal-title-row h1, .my-goal-title-row img {
        margin-top: -40px;
    }
}

@media (min-width: 1070px) {
    .my-goal-title-container h1 {
        font-size: 6rem;
        margin-right: -50px;
    }
    .my-goal-title-container {
        padding: 0 50px;
    }
    .my-goal-title-row {
        padding: 120px;
    }
    .my-goal-title-row img {
        margin-top: -80px;
    }
    .feather-3 {
        max-width: 25%;
        height: auto;
        margin-right: -50px;
    }
}



.my-goal-img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin-top: -100px;
}

.my-goal-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.my-goal-png {
    width: 100%;
    height: auto;
}

@media (min-width: 440px) {
    .my-goal-img-container {
        margin-top: -130px;
    }
}

@media (min-width: 730px) {
    .my-goal-img-container {
        margin-top: -250px;
    }
}

@media (min-width: 1070px) {
    .my-goal-img-container {
        margin-top: -500px;
    }
}

@media (min-width: 1400px) {
    .feather-3 {
        margin-right: -300px;
    }
    .my-goal-img-container {
        margin: -600px 0 0 -10px;
    }
}




.journey-title-container {
    margin-top: 30px;
    padding: 0;
}

.journey-title-container h1 {
    margin: 13px;
    text-align: center;
}

.journey-title-container .ux {
    margin-right: -30px;
}

.journey-title-row {
    display: flex;
    flex-direction: column;
}


@media (min-width: 380px) {
    .journey-title-row {
        display: flex;
        flex-direction: row;
    }
}


@media (min-width: 730px) {
    .journey-title-container {
        margin-top: 50px;
    }
    .journey-title-container h1 {
        font-size: 4.5rem;
        margin: 30px;
    }
    .journey-title-container .ux {
        margin-right: -50px;
    }
}

@media (min-width: 1070px) {
    .journey-title-container {
        margin-top: 80px;
    }
    .journey-title-container h1 {
        font-size: 6rem;
        margin: 70px;
    }
    .journey-title-container .ux {
        margin-right: -100px;
    }
}




.timeline-img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin-top: -100px;
}

.timeline-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.timeline-png {
    width: 100%;
    height: auto;
}

@media (min-width: 500px) {
    .timeline-img-container {
        margin-top: -120px;
    }
}

@media (min-width: 600px) {
    .timeline-img-container {
        margin-top: -160px;
    }
}

@media (min-width: 730px) {
    .timeline-img-container {
        margin-top: -200px;
    }
}

@media (min-width: 1070px) {
    .timeline-img-container {
        margin-top: -300px;
    }
}

@media (min-width: 1400px) {
    .timeline-img-container {
        margin-top: -380px;
    }
}




footer {
    background-image: linear-gradient(to top, #FAF1DF 50%, transparent);
    bottom: 0;
    font-family: 'Comfortaa', cursive;
    margin-top: -200px;
    padding: 300px 50px 50px 50px;
    text-align: center;
}

footer h5 {
    font-size: 1rem;
}

.footer-nav-options-1 a, .footer-nav-options-2 a, .footer-nav-options-3 a {
    font-size: .875rem;
    padding: 5px;
    text-decoration: underline;
    white-space: nowrap;
}

.footer-nav-options-3 {
    margin-top: -15px;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
}

.footer-row1-col2, .footer-row2 {
    margin-top: 50px;
}

.footer-nav-options-1 a:hover, .footer-nav-options-2 a:hover {
    font-size: .925rem;
    font-weight: bold;
    transition: all .5s ease;
}

@media (min-width: 1070px) {
    .footer-container {
        margin-top: 0;
    }
    .footer-row1, .footer-row2-col1, .footer-nav-container-3, .footer-nav-options-3 {
        display: flex;
    }
    .footer-nav-options-3 {
        margin-top: 0;
    }
    .footer-row1 {
        justify-content: space-evenly;
        text-align: left;
    }
    .footer-row2-col1 {
        justify-content: space-evenly;
    }
    .footer-row2-col1 p{
        padding: 0 100px;
    }
    .footer-nav-options-3 a {
        padding: 0 70px;
    }
}

@media (max-width: 375px) {
    .footer-nav-options-1 a, .footer-nav-options-2 a, .footer-nav-options-3 a {
        white-space: normal;
        overflow-wrap: break-word;
    }
    p {
        overflow-wrap: break-word;
    }
}

@media (min-width: 1800px) {
    .header {
        font-size: 1.375rem;
    }
    footer p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .nav-options a:hover {
        font-size: 1.425rem;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    footer h5 {
        font-size: 1.5rem;
    }
    .footer-nav-options-1 a, .footer-nav-options-2 a, .footer-nav-options-3 a {
        font-size: 1.375rem;
        padding: 5px;
        text-decoration: underline;
    }
    .footer-nav-options-1 a:hover, .footer-nav-options-2 a:hover {
        font-size: 1.425rem;
        font-weight: bold;
        transition: all .5s ease;
    }
}








@media (min-width: 2000px) {
    .hero-content h1 {
        font-size: 7.5rem;
    }
    h1 {
        font-size: 6rem;
    }
    .hero-content h2 {
        font-size: 2rem;
    }
    h2 {
        font-size: 2rem;
    }
    .hero-section h3 {
        font-size: 6rem;
    }
    h3 {
        font-size: 6rem;
    }
    .hero-section p {
        font-size: 1.4rem;
    }
    p {
        font-size: 1.5rem;
    }
    .skill-set-section h1, .specialties-assets-title-container h1, .design-process-title-container h1, 
    .my-goal-title-container h1, .journey-title-container h1 {
        font-size: 6rem;
    }
}