html {
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

header {
    background-image: linear-gradient(to bottom, #BDC98D 75%, transparent);
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    top: 0;
    height: 175px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}

.logo {
    width: 228px;
    height: 78px;
    padding: 17px 50px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 47px 50px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 70px;
    color: #000000;
    transition: all .5s ease;
}

nav ul li a:hover {
    font-size: 16px;
    text-decoration: underline;
}

.main {
    display: flex;
    margin-right: 120px;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateY(-550px);
}

.opening-text {
    text-align: right;
    margin-top: -100px;
}

.opening-h1 {
    font-family: 'Allison', cursive;
    font-size: 128px;
    margin-bottom: 0px;
    width: 567px;
    line-height: 80%;
}

.opening-h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Comfortaa', cursive;
}

.opening-collage {
    max-width: 100%;
    width: 1020px;
    height: auto;
}

.project-information-section {
    margin-top: -316px;
}

.project-information-title {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    justify-content: center;
}

.project-title-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateY(-250px);
}

.project-title-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
}

.project-title-bottom-left {
    transform: translateX(12px);
}

.project-title-bottom-right {
    transform: translateX(-12px);
}

.project-title-box {
    height: 200px;
    width: 100%;
    background-color: #BDC98D;
}

.project-overview {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin: 200px;
    width: 1038px;
    margin-top: -260px;
}

.overview-title {
    font-size: 20px;
    font-weight: bold;
}

.overview-paragraph {
    font-size: 16px
}

.problem-solution {
    display: flex;
    text-align: left;
    margin: 200px;
    gap: 40px;
    margin-top: -180px;
}

.problem-title, .solution-title {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
}

.problem-paragraph, .solution-paragraph {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    width: 500px;
}

.overview-details {
    display: flex;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    gap: 90px;
    margin: 200px;
    margin-top: -170px;
}

.overview-details li {
    font-size: 16px;
    line-height: 1.5;
    margin-left: -20px;
}

.overview-details ul {
    margin-top: -10px;
}

.project-type-title, .timeline-title, .my-roles-title, .platform-title, .tools-title {
    font-size: 20px;
    font-weight: bold;
}

.design-process-title {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 200px;
    margin-top: -210px;
}





.design-process-main-circles {
    display: flex;
    position: relative;
    margin-left: 210px;
    margin-right: 220px;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-125px);
    z-index: -1;
}


.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: -1;
    background-color: #BDC98D;
}

.circle2 {
    transform: translateX(4px);
}

.circle3 {
    transform: translateX(4px);
}

.circle5 {
    transform: translateX(-3px);
}

.circle6 {
    transform: translateX(-4px);
}

.circle-1-main, .circle-2-main, .circle-3-main, .circle-4-main, .circle-5-main, .circle-6-main, .circle-7-main {
    background-color: white;
}

.circle-1-main:hover, .circle-2-main:hover, .circle-3-main:hover, .circle-4-main:hover, .circle-5-main:hover, .circle-6-main:hover, .circle-7-main:hover {
    background-color: transparent;
}






.design-process-main {
    font-family: 'Comfortaa', cursive;
    display: flex;
    margin: 200px;
    margin-top: -190px;
}

.line-big {
    width: 80px;
    height: 1px;
    background-color: black;
    margin-top: 38px;
}

.research-1, .empathize-2, .define-3, .ideate-4, .prototype-5, .test-6, .conclusion-7 {
    font-size: 32px;
    font-weight: light;
    margin-top: -68px;
    pointer-events: none;
}

.research-label, .empathize-label, .define-label, .ideate-label, .prototype-label, .test-label, .conclusion-label {
    font-size: 16px;
}

.research-section {
    margin-top: -150px;
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    transform: translateY(10px);
}

.research-title-box {
    height: 100px;
    width: 100%;
    background-color: #BDC98D;
}

.research-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-research {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.green-circle-1 {
    width: 30px;
    height: 30px;
    background-color: #BDC98D;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(49px);
    z-index: -1;
}

.research-small-circle-div, .empathize-small-circle-div, .define-small-circle-div, .ideate-small-circle-div, .prototype-small-circle-div, .test-small-circle-div, .conclusion-small-circle-div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line-small-1, .line-small-2, .line-small-3, .line-small-4, .line-small-5, .line-small-6 {
    width: 60px;
    height: 1px;
    background-color: black;
    margin-top: -25px;
}

.line-small-2 {
    transform: translateX(-5px);
}

.line-small-4 {
    transform: translateX(5px);
}

.line-small-5 {
    transform: translateX(-8px);
}

.line-small-6 {
    transform: translateX(10px);
}

.research-1-small, .empathize-2-small, .define-3-small, .ideate-4-small, .prototype-5-small, .test-6-small, .conclusion-7-small {
    font-size: 16px;
    font-weight: bold;
    margin-top: -26px;
}

.research-label-small, .empathize-label-small, .define-label-small, .ideate-label-small, .prototype-label-small, .test-label-small, .conclusion-label-small {
    font-size: 12px;
    font-weight: bold
}

.user-interviews-text {
    text-align: left;
    margin: 200px;
    width: 1080px;
    margin-top: -100px;
}

.user-interviews-title {
    font-size: 20px;
    font-weight: bold;
}

.user-interviews-p1, .user-interviews-p2, .user-interviews-p3, .user-interviews-p4 {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 5px;
}

.flower-icons-container {
    margin-left: 240px;
    margin-top: -150px;
}

.quotes-text {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
    margin: 170px;
    transform: translateY(-165px);
}

.quote-1-text {
    width: 223px;
}

.quote-2-text {
    width: 237px;
}

.quote-3-text {
    width: 225px;
}

.quote-4-text {
    width: 223px;
}

.quote-2-2 {
    margin-top: -15px;
}

.current-website-analysis-gray-box {
    height: 200px;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: -280px;
}

.current-website-analysis-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: -1px;
    transform: translateX(-412px);
}

.current-website-analysis-paragraph {
    font-size: 16px;
    text-align: left;
    width: 1075px;
    margin-top: -5px;
}

.website-annotations-analysis {
    display: flex;
    margin: 180px;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-110px);
}

.website-annotations-analysis-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    width: 307px;
}

.website-annotations-analysis-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 506px;
}

.user-path-analysis {
    margin-top: -220px;
}

.user-path-analysis-gray-box {
    height: 470px;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.user-path-analysis-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    width: 500px;
}

.user-path-analysis-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 500px;
}

.user-path-analysis-png {
    transform: translateX(180px);
}

.user-path-analysis-text {
    transform: translateX(-200px);
}

.heuristic-analysis {
    display: flex;
    margin: 200px;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-130px);
}

.heuristic-analysis-title {
    font-size: 20px;
    font-weight: bold;
    width: 188px;
}

.heuristic-analysis-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 476px;
}

.heuristic-analysis-icons {
    margin-left: 40px;
}

.user-interface-analysis {
    margin-top: -260px;
}

.user-interface-analysis-gray-box {
    height: 510px;
    width: 100%;
    background-color: #F8F8F8;
    align-items: center;
}

.user-interface-analysis-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    transform: translateY(60px);
    width: 245px
}

.user-interface-analysis-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 200px;
    transform: translateY(60px);
    width: 1020px;
}

.user-interface-analysis-pngs {
    display: flex;
    align-items: flex-end;
    transform: translateY(60px);
    margin-left: 165px;
}

.user-interface-analysis-png-2 {
    margin-left: -20px;
}

.competitor-analysis {
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    transform: translateY(50px);
}

.competitor-analysis-title {
    font-size: 20px;
    font-weight: bold;
}

.competitor-analysis-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.competitor-analysis-png {
    margin-top: 50px;
}

.empathize-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    transform: translateY(120px);
}

.empathize-title-box {
    height: 100px;
    width: 100%;
    background-color: #BDC98D;
}

.empathize-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-empathize {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.green-circle-2 {
    width: 30px;
    height: 30px;
    background-color: #BDC98D;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(181px);
    z-index: -1;
}

.proto-personas-text {
    margin: 180px;
    text-align: left;
    margin-top: -100px;
}

.proto-personas-title {
    font-size: 20px;
    font-weight: bold;
}

.proto-personas-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1070px;
}

.proto-persona-1, .proto-persona-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proto-persona-2 {
    margin-left: -80px;
}

.proto-persona-images {
    display: flex;
    align-items: center;
    margin-top: -140px;
    text-align: center;
    transform: translateX(110px);
}

.proto-persona-1-title, .proto-persona-2-title {
    display: flex;
    width: 510px;
    text-align: center;
    margin-left: 90px;
}

.proto-persona-1-title {
    margin-left: 150px;
}

.proto-persona-1-title-left, .proto-persona-2-title-left {
    font-size: 18px;
    font-weight: bold;
}

.proto-persona-1-title-right, .proto-persona-2-title-right {
    font-size: 18px;
    margin-left: 10px;
}

.user-persona {
    margin-top: 70px;
}

.user-persona-gray-box {
    height: 1100px;
    width: 100%;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.user-persona-main-title {
    font-size: 20px;
    font-weight: bold;
    transform: translateY(70px);
    margin-left: 180px;
}

.user-persona-paragaph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
    margin-top: 80px;
    transform: translateX(180px);
}

.user-persona-subheading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.user-persona-subheading-left {
    font-size: 18px;
    font-weight: bold;
}

.user-persona-subheading-right {
    font-size: 18px;
    margin-left: 10px;
}

.user-persona-png {
    margin-left: 175px;
}

.define-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    transform: translateY(120px);
}

.define-title-box {
    height: 100px;
    width: 100%;
    background-color: #BDC98D;
}

.define-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-define {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.green-circle-3 {
    width: 30px;
    height: 30px;
    background-color: #BDC98D;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(304px);
    z-index: -1;
}

.project-motivation-title {
    font-size: 20px;
    font-weight: bold;
}

.project-motivation-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.project-motivation {
    margin-top: -100px;
    transform: translateX(180px);
}

.project-motivation-png {
    transform: translateX(230px);
    margin-top: 30px;
}

.citation-links {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 230px;
    color: #BDC98D;
    transform: translateY(-200px);
    text-decoration: underline;
}

.problem-statement-goal-section {
    margin-top: -380px;
}

.problem-statement-goal-gray-box {
    height: 360px;
    width: 100%;
    display: flex;
    background-color: #F8F8F8;
    justify-content: space-between;
    align-items: center;
}

.problem-statement-title, .my-goal-title {
    font-size: 20px;
    font-weight: bold;
}

.problem-statement-paragraph, .my-goal-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 500px;
}

.problem-statement {
    margin-left: 170px;
}

.my-goal {
    margin-right: 170px;
}

.ideate-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.ideate-title-box {
    height: 100px;
    width: 100%;
    background-color: #BDC98D;
}

.ideate-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-ideate {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.green-circle-4 {
    width: 30px;
    height: 30px;
    background-color: #BDC98D;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(414px);
    z-index: -1;
}

.ideate-labels {
    display: flex;
    justify-content: space-between;
    margin: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -100px;
    transform: translateX(-25px);
}

.ideate-circle-lines {
    display: flex;
    justify-content: space-between;
    margin: 250px;
    align-items: center;
    margin-top: -200px;
    transform: translateX(-25px);
}

.ideate-label-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: transparent;
}

.ideate-label-lines {
    width: 220px;
    height: 2px;
    background-color: #AAAAAA;
    border-radius: 5px;
}

.ideate-labels-blue-circle {
    height: 30px;
    width: 31px;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(48px);
    background-color: #BDC98D;
}

.journey-map-label {
    transform: translateX(42px);
}

.value-proposition-label {
    transform: translateX(18px);
}

.ideate-pngs-section {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: space-between;
    margin-top: -200px;
}

.typography-hierarchy-gray-box {
    height: 600px;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.typography-title, .hierarchy-title {
    font-size: 20px;
    font-weight: bold;
}

.typography-paragraph, .hierarchy-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 515px;
}

.typography-samples {
    margin-left: 165px;
}

.hierarchy-samples {
    margin-right: 165px;
}

.typography-samples-png, .hierarchy-samples-png {
    margin-top: 30px;
}

.mood-board {
    margin-left: 180px;
    margin-right: 180px;
}

.mood-board-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
}

.mood-board-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.mood-board-png {
    margin-top: 30px;
}

.style-guide {
    margin-top: 70px;
}

.style-guide-gray-box {
    height: 1050px;
    width: 100%;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
}

.style-guide-title {
    font-size: 20px;
    font-weight: bold;
    transform: translateY(75px);
    margin-left: 170px;
}

.style-guide-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
    transform: translateY(75px);
    margin-left: 170px;
}

.style-guide-png {
    transform: translateY(105px);
    margin-left: 170px;
}

.prototype-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    transform: translateY(20px);
}

.prototype-title-box {
    height: 100px;
    width: 100%;
    background-color: #BDC98D;
}

.prototype-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-prototype {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.green-circle-5 {
    width: 30px;
    height: 30px;
    background-color: #BDC98D;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(534px);
    z-index: -1;
}

.card-sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: -80px;
}

.card-sorting-title {
    font-size: 20px;
    font-weight: bold;
}

.card-sorting-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 490px;
}

.navigation-organization-gray-box {
    height: 680px;
    width: 100%;
    background-color: #F8F8F8;
}

.navigation-organization-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 170px;
    transform: translateY(70px);
}

.navigation-organization-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
    margin-left: 170px;
    transform: translateY(70px);
}

.navigation-organization-image-section {
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
    transform: translateY(90px);
}

.new-sitemap {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-flow {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new-sitemap-title, .user-flow {
    font-size: 18px;
    font-weight: bold;
}

.sketches {
    align-items: center;
    justify-content: center;
    margin-left: 170px;
    margin-top: 70px;
}

.sketches-title {
    font-size: 20px;
    font-weight: bold;
}

.sketches-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.sketches-png {
    margin-top: 30px;
}

.digital-wireframes {
    margin-top: 70px;
}

.digital-wireframes-gray-box {
    height: 550px;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.digital-wireframes-png {
    margin-left: 170px;
}

.digital-wireframes-text {
    margin-right: 170px;
    text-align: right;
}

.digital-wireframes-title {
    font-size: 20px;
    font-weight: bold;
}

.digital-wireframes-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 500px;
}

.assets-components-mockups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
}

.assets-and-components-title, .mobile-mockups-title {
    font-size: 20px;
    font-weight: bold;
}

.assets-and-components-paragraph, .mobile-mockups-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 515px;
}

.clickable-prototype {
    margin-top: 70px;
}

.clickable-prototype-gray-box {
    height: 1050px;
    width: 100%;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
}

.clickable-prototype-title {
    font-size: 20px;
    font-weight: bold;
}

.clickable-prototype-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.clickable-prototype-title, .clickable-prototype-paragraph, .clickable-prototype-png {
    margin-left: 170px;
    margin-right: 170px;
    transform: translateY(80px);
}

.clickable-prototype-png {
    margin-top: 30px;
}

.test-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.test-title-box {
    height: 100px;
    width: 100%;
    background-color: #BDC98D;
}

.test-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-test {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.green-circle-6 {
    width: 30px;
    height: 30px;
    background-color: #BDC98D;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(649.5px);
    z-index: -1;
}

.a-b-testing {
    margin-left: 170px;
    margin-right: 170px;
    align-items: center;
    justify-content: center;
    transform: translateY(-70px);
}

.a-b-testing-title {
    font-size: 20px;
    font-weight: bold;
}

.a-b-testing-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.user-testing-iterations-gray-box {
    height: 1000px;
    width: 100%;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
}

.user-testing-iterations-text {
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
    transform: translateY(60px);
}

.user-testing-title, .iterations-title {
    font-size: 20px;
    font-weight: bold;
}

.user-testing-paragraph, .user-testing-list, .iterations-p1, .iterations-p2 {
    font-size: 16px;
    line-height: 1.5;
    width: 520px;
}

.user-testing-list li {
    padding-bottom: 10px;
}

.user-testiing-iterations-png {
    margin-left: 170px;
    margin-right: 170px;
    transform: translateY(100px);
}

.conclusion-title-box {
    height: 100px;
    width: 100%;
    background-color: #BDC98D;
}

.conclusion-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-conclusion {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.green-circle-7 {
    width: 30px;
    height: 30px;
    background-color: #BDC98D;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(770px);
    z-index: -1;
}

.bsa-laptop-layers-png {
    margin-left: 170px;
    margin-right: 170px;
    transform: translateY(-70px);
}

.conclusion-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Comfortaa', cursive;
    transform: translateY(-70px);
}

.final-prototype-next-steps {
    width: 510px;
} 

.next-steps-title, .next-steps-paragraph, .next-steps-list {
    transform: translateY(20px);
}

.next-steps-list li {
    padding-bottom: 10px;
}

.key-takeaways {
    width: 540px;
    margin-top: 30px;
}

.key-takeaways-p1, .key-takeaways-p2, .key-takeaways-p3 {
    padding-bottom: 20px;
}

.final-prototype-title, .next-steps-title, .key-takeaways-title {
    font-size: 20px;
    font-weight: bold;
}

.final-prototype-paragraph, .next-steps-paragraph, .next-steps-list, .key-takeaways-p1, .key-takeaways-p2, .key-takeaways-p3 {
    font-size: 16px;
    line-height: 1.5;
}

.before-after {
    margin-top: -40px;
}

.before-after-gray-box {
    height: 515px;
    width: 100%;
    background-color:#F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Comfortaa', cursive;
}

.before-title, .after-title {
    font-size: 20px;
    font-weight: bold;
    transform: translateX(5px);
}

.before {
    margin-left: 150px;
}

.after {
    margin-right: 150px;
}

.ending-title {
    font-family: 'Allison', cursive;
    font-size: 128px;
    text-align: center;
    transform: translateY(-70px);
}

.bsa-conclusion-laptop {
    max-width: 100%;
    width: 1440px;
    height: auto;
    margin-top: -120px;
}

footer {
    background-image: linear-gradient(to top, #BDC98D 75%, transparent);
    bottom: 0;
    height: 500px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    margin-top: 100px;
}

.footer-top {
    display: flex;
    transform: translateY(200px);
    justify-content: center;
    margin-left: 108px;
}

.footer-logo {
    display: flex;
    height: 132px;
    width: 409px;
    transform: translateX(-90px);
}

.container {
    display: flex;
    text-align: left;
    transform: translateX(-40px);
    li {
        margin-bottom: 15px;
    }
}

.list-title {
    font-size: 20px;
    font-weight: bold;
}

.bullet-list-section {
    margin-top: 40px;
    transform: translateX(25px);
}

.footer-contact {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 880px;
    transform: translateX(300px);
    padding-bottom: 50px;
    margin-top: 241px;
    bottom: 0
}

footer li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: regular;
    text-decoration: underline;
}

.in-touch {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.column li:hover {
    font-size: 17px;
    font-weight: bold;
    transition: all .5s ease;
}
