html {
    background: url('Portfolio_Images/contact-page-background.png');
    background-size: cover;
    height: 104.3vw;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Allison', cursive;
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to bottom, #faf1df 75%, transparent);
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    top: 0;
    height: 175px;
    width: 100%;
}

.logo {
    width: 228px;
    height: 78px;
    padding: 17px 50px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 47px 50px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 70px;
    color: #000000;
    transition: all .5s ease;
}

nav ul li a:hover {
    font-size: 16px;
    text-decoration: underline;
}

.main {
    margin-top: 150px;
}

.top-half {
    display: flex;
    margin-top: -30px;
}

.opening-text {
    margin-left: 120px;
}

.heading {
    font-family: 'Allison', cursive;
    font-size: 96px;
}

.paragraph {
    font-size: 18px;
    line-height: 1.5;
    width: 668px;
    margin-top: -80px;
}

.hand-png {
    max-width: 100%;
    width: 600px;
    height: auto;
    margin-left: 30px;
    margin-top: 20px;
}

.bottom-half {
    display: flex;
    margin-left: 90px;
    margin-top: -220px;
}

.message-box {
    max-width: 100%;
    width: 560px;
    height: auto;
    transform: translateX(-10px);
    margin-top: -30px;
}

.box-title {
    font-size: 18px;
    text-decoration: underline;
    margin-left: 50px;
}

.rectangles {
    margin-left: 62px;
    transform: translateY(-330px);
}

.rectangle {
    width: 420px;
    border-radius: 5px;
    border: 1.5px solid black;
}

#rectangle1, #rectangle2, #rectangle3 {
    height: 33px;
    margin-bottom: 10px;
}

#rectangle4 {
    height: 123px;
}

.rectangle-labels {
    font-size: 12px;
    color: #7C7C7C;
    margin-top: -595px;
    margin-left: 75px;
}

.rectangle-labels p {
    padding-bottom: 21px;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    margin-top: 135px;
    margin-left: 25px;
}

.submit-button-text {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
}

.tan-box {
    position: absolute;
    height: 45px;
    width: 110px;
    z-index: -1;
    transform: translateY(-3px);
}

.submit-button:hover {
    .tan-box {
        background-color: #FAF1DF;
    }
}

.contact-list-section {
    display: flex;
}

.contact-title {
    font-size: 18px;
    text-decoration: underline;
}

.contact-icons {
    display: flex;
    flex-direction: column;
}

.phone-icon, .email-icon {
    margin-bottom: 33px;
}

.number, .email, .address {
    font-size: 18px;
}

.see-my-work {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.right-half {
    margin-left: 60px;
}

.contact-text {
    margin-left: 50px;
    margin-top: 15px;
}

.number, .email, .address {
    padding-bottom: 85px
}

.see-my-work {
    margin-top: -35px;
    transform: translateX(230px);
}

.see-my-work:hover {
    font-size: 22px;
    transition: all .5s ease;
}

.number:hover {
    font-size: 20px;
    text-decoration: underline;
    transition: all .5s ease;
}

.email:hover {
    font-size: 20px;
    text-decoration: underline;
    transition: all .5s ease;
}

.address:hover {
    font-size: 20px;
    text-decoration: underline;
    transition: all .5s ease;
}

footer {
    background-image: linear-gradient(to top, #FAF1DF 75%, transparent);
    bottom: 0;
    height: 500px;
    width: 100%;
    transform: translateY(70px);
}

.footer-top {
    display: flex;
    transform: translateY(200px);
    justify-content: center;
    margin-left: 108px;
}

.footer-logo {
    display: flex;
    height: 132px;
    width: 409px;
    transform: translateX(-90px);
}

.container {
    display: flex;
    text-align: left;
    transform: translateX(-40px);
    li {
        margin-bottom: 15px;
    }
}

.list-title {
    font-size: 20px;
    font-weight: bold;
}

.bullet-list-section {
    margin-top: 40px;
    transform: translateX(25px);
}

.footer-contact {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 880px;
    transform: translateX(300px);
    padding-bottom: 50px;
    bottom: 0
}

footer li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: regular;
    text-decoration: underline;
}

.in-touch {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.column li:hover {
    font-size: 17px;
    font-weight: bold;
    transition: all .5s ease;
}


