html {
  background: url('Portfolio_Images/home-background.png');
  background-size: cover;
  height: 369.5vw;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

body {
  font-family: 'Allison', cursive;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to bottom, #faf1df 75%, transparent);
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  top: 0;
  height: 175px;
  width: 100%;
}

.logo {
  width: 228px;
  height: 78px;
  padding: 17px 50px;
}

nav {
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 47px 50px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin-left: 70px;
  color: #000000;
  transition: all .5s ease;
}

nav ul li a:hover {
  font-size: 16px;
  text-decoration: underline;
}

.first-line {
  padding-top: 217px;
  padding-left: 100px;
  font-size: 22px;
  font-weight: regular;
}

.second-line {
  font-family: 'Allison', cursive;
  padding-left: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 128px;
}

.paragraph-one {
  padding-left: 100px;
  margin-top: 20px;
  width: 662px;
  font-size: 18px;
  line-height: 110%;
}

.paragraph-two {
  padding-left: 100px;
  width: 662px;
  font-size: 18px;
  line-height: 110%;
}

.paragraph-three {
  padding-left: 100px;
  width: 662px;
  font-size: 18px;
  line-height: 110%;
}

.content {
  display: flex;
}

.building-image {
  margin-top: 158px;
}

.main-title {
  font-family: 'Allison', cursive;
  font-size: 96px;
}

.feather-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 252px;
}

.custom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}

.synchrovae-phone {
  margin-left: 190px;
  margin-top: 200px;
}

.synchrovae {
  display: flex;
}

.synchrovae-text {
  text-align: right;
  margin-left: 450px;
  margin-top: 145px;
}

.synchrovae-h1 {
  display: flex;
  font-family: 'Allison', cursive;
  font-size: 78px;
  transform: translateX(40px);
}

.synchrovae-icon {
  transform: translateY(-225px);
  height: 173px;
  width: 149px;
}

.synchrovae-h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: -20px;
  transform: translateY(-170px);
}

.synchrovae-p1 {
  font-size: 18px;
  font-weight: medium;
  width: 463px;
  line-height: 1.5;
  transform: translateY(-170px);
}

.synchrovae-button {
  transform: translateY(-165px);
  height: 81px;
  width: 162px;
  margin-right: 100px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.synchrovae-button-text {
  position: absolute;
  width: 113px;
  font-size: 18px;
  font-weight: bold;
}

.blue-box {
  position: absolute;
  height: 65px;
  width: 150px;
  z-index: -1;
  transform: translateY(-1px);
}

.synchrovae-button:hover {
  .blue-box {
    background-color: #72B0FF;
  }
}

.bsa {
  display: flex;
}

.bsa-title {
  display: flex;
}

.bsa-text {
  text-align: left;
  margin-left: 100px;
  margin-top: 225px;
}

.bsa-h1 {
  display: flex;
  font-family: 'Allison', cursive;
  font-size: 78px;
  margin-top: 80px;
  margin-left: -25px;
  width: 573px;
}

.bsa-icon {
  display: flex;
  height: 218.69px;
  width: 162.22px;
}

.bsa-h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: -20px;
}

.bsa-p1 {
  font-size: 18px;
  font-weight: medium;
  width: 521px;
  line-height: 1.5;
}

.bsa-laptop {
  height: 544px;
  width: 550px;
  margin-left: 5px;
  margin-top: 300px;
}

.bsa-button {
  transform: translateY(-175px);
  height: 81px;
  width: 163px;
  margin-left: 100px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bsa-button-text {
  position: absolute;
  width: 113px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}

.green-box {
  position: absolute;
  height: 65px;
  width: 150px;
  z-index: -1;
}

.bsa-button:hover {
  .green-box {
    background-color: #BDC98D;
  }
}

.pharmacy {
  display: flex;
}

.pharmacy-laptop {
  margin-top: 400px;
  transform: translateX(-180px);
  height: 460px;
  width: 644px;
}

.pharmacy-text {
  text-align: right;
  margin-top: 285px;
  transform: translateX(-100px);
}

.pharmacy-h1 {
  display: flex;
  font-family: 'Allison', cursive;
  font-size: 78px;
  width: 555px;
  transform: translateX(-225px);
  position: absolute;
}

.pharmacy-icon {
  height: 158px;
  width: 158px;
  transform: translateX(50px);
  transform: translateY(50px);
}

.pharmacy-h2 {
  font-size: 22px;
  font-weight: bold;
  transform: translateX(-35px);
  transform: translateY(50px);
}

.pharmacy-p1 {
  font-size: 18px;
  font-weight: medium;
  width: 519px;
  line-height: 1.5;
  transform: translateY(50px);
}

.pharmacy-button {
  transform: translateY(-150px);
  height: 81px;
  width: 163px;
  margin-right: 100px;
  margin-top: 15px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pharmacy-button-text {
  position: absolute;
  width: 113px;
  font-size: 18px;
  font-weight: bold;
}

.orange-box {
  position: absolute;
  height: 65px;
  width: 150px;
  z-index: -1;
  transform: translateY(-1px);
}

.pharmacy-button:hover {
  .orange-box {
    background-color: #FEC086;
  }
}

.student-counsel {
  display: flex;
  margin-top: 310px;
}

.student-title {
  display: flex;
}

.student-text {
  text-align: left;
  margin-left: 100px;
}

.student-h1 {
  display: flex;
  font-family: 'Allison', cursive;
  font-size: 78px;
  width: 320px;
  transform: translateX(60px);
}

.student-icon {
  display: flex;
  height: 148px;
  width: 171px;
  transform: translateY(60px);
}

.student-h2 {
  font-size: 22px;
  font-weight: bold;
  transform: translateY(-30px);
}

.student-p1 {
  font-size: 18px;
  font-weight: medium;
  width: 554px;
  line-height: 1.5;
  transform: translateY(-30px);
}

.student-phone {
  height: 554.09px;
  width: 290px;
  margin-top: 10px;
  transform: translateX(300px);
}

.student-button {
  height: 81px;
  width: 163px;
  margin-left: 100px;
  transform: translateY(-110px);
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-button-text {
  position: absolute;
  width: 113px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}

.teal-box {
  position: absolute;
  transform: translateY(-1px);
  height: 65px;
  width: 150px;
  z-index: -1;
}

.student-button:hover {
  .teal-box {
    background-color: #49BDA7;
  }
}

footer {
  background-image: linear-gradient(to top, #FAF1DF 75%, transparent);
  bottom: 0;
  height: 500px;
  width: 100%;
  transform: translateY(265px);
}

.footer-top {
  transform: translateY(200px);
  display: flex;
}

.footer-logo {
  display: flex;
  height: 132px;
  width: 409px;
  transform: translateX(-90px);
}

.container {
  display: flex;
  text-align: left;
  transform: translateX(-40px);
  li {
    margin-bottom: 15px;
  }
}

.list-title {
  font-size: 20px;
  font-weight: bold;
}

.bullet-list-section {
  margin-top: 40px;
  transform: translateX(25px);
}

.footer-contact {
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 880px;
  transform: translateX(300px);
  padding-bottom: 50px;
}

li {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: regular;
  text-decoration: underline;
}

.in-touch {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

