body {
    margin: 0;
    padding: 0;
    background-image: url('Portfolio_Images/home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow-y: auto;
  }

  