html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

/* CSS Styling for Responsive Header Below */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(to bottom, #FAF1DF 30%, transparent);
    z-index: 9998;
    top: 0;
    min-height: 175px;
    font-family: 'Comfortaa', cursive;
    position: absolute;

    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    padding: 0 20px;
    white-space: nowrap;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: -50px;
}

.logo {
    max-width: 100%;
    height: auto;
    padding: 50px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-options {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 20px 50px;
}

.nav-options a:hover {
    font-size: .925rem;
    text-decoration: underline;
    transition: all 0.5s ease;
}

@media (max-width: 1070px) {
    header {
        flex-direction: column;
        align-items: center;
        margin: -180px 0 0 0;
    }
    .header {
        min-height: 350px;
    }
    .logo {
        padding: 0;
    }
}

@media (max-width: 730px) {
    header {
        margin: -220px 0 0 0;
    }
    .header {
        min-height: 500px;
    }
    .nav-options {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

/* CSS Styling for Responsive Header Above */

h1 {
    font-size: 4.5rem;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
}

.top-half p {
    text-align: center;
    margin-top: 20px;
    padding: 0 10px;
}

.content-background {
    background: url('Portfolio_Images/final-contact-bg.png') no-repeat center center;
    background-size: cover;
    padding: 0;

}

.main-section {
    position: relative;
    padding: 0 30px;
    overflow: hidden;
}

.top-half {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
}

.heading-hand {
    display: flex;
    align-items: center;
}

.heading {
    flex: 1;
}

.hand-sketch-div {
    flex: 1.5;
}

.hand-sketch-img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

.bottom-half {
    margin-top: 70px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-half {
    text-align: center;
}



.rectangle {
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.5rem;
    color: #7C7C7C;
    text-align: left;
    margin: 5px auto;
    padding: 4px;
    font-family: 'Comfortaa', cursive;
}

.larger {
    height: 95px;
}

.stacked-images {
    position: relative;
    justify-content: center;
    margin-bottom: 100px;
}

.submit-button img {
    position: absolute;
    max-width: 35%;
    height: auto;
}

.submit-button {
    cursor: pointer;
}

.stacked-images .button-top:hover {
    opacity: 0;
}

.right-half {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.phone-div, .email-div, .address-div {
    margin-top: 30px;
}

.phone-div p, .email-div p, .address-div p {
    margin-top: 15px;
}



.hear-from-you {
    margin-top: 50px;
}






@media (min-width: 360px) {
    .larger {
        height: 90px;
    }
    .background-div {
        background-image: url('Portfolio_Images/final-message-box.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 600px;
        padding: 20px;
        position: relative;
    }
}

@media (min-width: 410px) {
    .background-div {
        padding: 20px;
    }
    .larger {
        height: 122px;
    }
}

@media (min-width: 440px) {
    .background-div {
        padding: 25px;
    }
    .larger {
        height: 140px;
    }
}

@media (min-width: 490px) {
    .background-div {
        padding: 30px;
    }
    .rectangle {
        height: 28px;
    }
    .larger {
        height: 148px;
    }
}

@media (min-width: 560px) {
    .background-div {
        padding: 35px;
    }
    .larger {
        height: 155px;
    }
}

@media (min-width: 580px) {
    .background-div {
        padding: 40px;
    }
    .larger {
        height: 180px;
    }
    .rectangle {
        font-size: .67rem;
    }
}

@media (min-width: 620px) {
    .background-div {
        padding: 40px;
    }
    .rectangle {
        height: 35px;
        width: 480px;
    }
    .larger {
        height: 180px;
    }
}

@media (min-width: 650px) {
    .bottom-half {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



@media (min-width: 730px) {
    .top-half {
        margin-top: 300px;
    }
}


@media (min-width: 767px) {
    .background-div {
        padding: 20px;
    }
    .rectangle {
        height: 20px;
        width: 300px;
    }
    .larger {
        height: 120px;
    }
}

@media (min-width: 820px) {
    .main-section {
        margin-top: -150px;
    }
    .heading {
        flex: 1;
    }
    .hand-sketch-div {
        flex: 1;
    }
    .top-half h1 {
        margin-top: -120px;
    }
    .top-half p {
        text-align: left;
        padding-right: 320px;
        margin: -180px 0;
    }
    .top-half {
        margin-top: 400px;
    }
    .bottom-half {
        margin-top: -20px;
        display: flex;
        flex-direction: row;
        align-items: start;
    }
    .right-half {
        margin: 0;
        padding: 0 0 0 30px;
        text-align: left;
        justify-content: flex-start;
    }
    .left-half h2 {
        padding: 0 15px;
        text-align: left;
    }


    .background-div {
        padding: 30px;
    }
    .rectangle {
        margin: 8px auto;
    }
    .larger {
        height: 120px;
    }


    .stacked-images {
        justify-content: start;
        padding: 0 15px;
    }
    .phone-div, .email-div, .address-div {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .phone-div img, .email-div img, .address-div img {
        max-width: 16%;
        height: auto;
    }
    .phone-div p, .email-div p, .address-div p {
        margin-left: 10px;
    }
    .hear-from-you {
        margin: 30px;
        text-align: right;
    }
}

@media (min-width: 910px) {
    .rectangle {
        margin: 8px auto;
    }
    .background-div {
        padding: 30px;
    }
    .rectangle {
        height: 25px;
        width: 370px;
    }
    .larger {
        height: 130px;
    }
}

@media (min-width: 1020px) {
    .background-div {
        padding: 30px;
    }
    .rectangle {
        height: 30px;
    }
    .larger {
        height: 150px;
    }
}

@media (min-width: 1070px) {
    .main-section {
        margin-top: -250px;
        padding: 0 100px;
    }
    .heading {
        margin-top: -100px;
        flex: 1;
    }
    .hand-sketch-div {
        text-align: right;
    }
    .top-half h1 {
        font-size: 6rem;
        margin-top: -120px;
    }
    .top-half p {
        text-align: left;
        padding-right: 520px;
        margin: -230px 0;
        font-size: 1.125rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1.125rem;
    }
    .bottom-half {
        margin: -150px 0;
    }
    .right-half {
        padding-left: 70px;
    }
    .left-half h2 {
        padding: 0 25px;
    }
    .background-div {
        padding: 30px;
    }
    .rectangle {
        height: 25px;
        width: 350px;
    }
    .larger {
        height: 120px;
    }
    .bottom-half {
        align-items: start; 
        justify-content: center;
        margin-top: 0;
    }
    .phone-div {
        margin: 30px 0 65px 0;
    }
    .email-div, .address-div {
        margin: 65px 0;
    }
    .phone-div p, .email-div p, .address-div p {
        margin-left: 30px;
    }
    .hear-from-you {
        margin: -20px 80px 200px 0;
    }
}

@media (min-width: 1110px) {
    .background-div {
        padding: 20px;
    }
    .rectangle {
        height: 30px;
        width: 400px;
    }
    .larger {
        padding: 8px;
        height: 150px;
    }
}

@media (min-width: 1180px) {
    .background-div {
        padding: 30px;
    }
    .rectangle {
        height: 35px;
        width: 425px;
    }
    .larger {
        height: 150px;
    }
}

@media (min-width: 1180px) {
    .background-div {
        padding: 35px;
    }
}

@media (min-width: 1400px) {
    .background-div {
        padding: 35px;
    }
    .rectangle {
        height: 40px;
        width: 480px;
    }
    .larger {
        height: 160px;
    }
    .rectangle {
        font-size: .75rem;
        padding-left: 8px;
    }
}

footer {
    background-image: linear-gradient(to top, #FAF1DF 20%, transparent);
    bottom: 0;
    font-family: 'Comfortaa', cursive;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

footer h5 {
    font-size: 1rem;
}

.footer-nav-options-1 a, .footer-nav-options-2 a, .footer-nav-options-3 a {
    font-size: .875rem;
    padding: 5px;
    text-decoration: underline;
    white-space: nowrap;
}







@media (max-width: 375px) {
    .footer-nav-options-1 a, .footer-nav-options-2 a, .footer-nav-options-3 a {
        white-space: normal;
        overflow-wrap: break-word;
    }
    p {
        overflow-wrap: break-word;
    }
}








.footer-nav-options-3 {
    margin-top: -15px;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
}

.footer-row1-col2, .footer-row2 {
    margin-top: 50px;
}

.footer-nav-options-1 a:hover, .footer-nav-options-2 a:hover {
    font-size: .925rem;
    font-weight: bold;
    transition: all .5s ease;
}

@media (min-width: 1070px) {
    .footer-container {
        margin-top: -100px;
    }
    .footer-row1, .footer-row2-col1, .footer-nav-container-3, .footer-nav-options-3 {
        display: flex;
    }
    .footer-nav-options-3 {
        margin-top: 0;
    }
    .footer-row1 {
        justify-content: space-evenly;
        text-align: left;
    }
    .footer-row2-col1 {
        justify-content: space-evenly;
    }
    .footer-row2-col1 p{
        padding: 0 100px;
    }
    .footer-nav-options-3 a {
        padding: 0 70px;
    }
}

@media (min-width: 1400px) {
    .footer-container {
        margin-top: 0;
    }
}


@media (min-width: 1800px) {
    .header {
        font-size: 1.375rem;
    }
    footer p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .nav-options a:hover {
        font-size: 1.425rem;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    footer h5 {
        font-size: 1.5rem;
    }
    .footer-nav-options-1 a, .footer-nav-options-2 a, .footer-nav-options-3 a {
        font-size: 1.375rem;
        padding: 5px;
        text-decoration: underline;
    }
    .footer-nav-options-1 a:hover, .footer-nav-options-2 a:hover {
        font-size: 1.425rem;
        font-weight: bold;
        transition: all .5s ease;
    }
}


@media (min-width: 2000px) {
    h1 {
        font-size: 7.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    .rectangle {
        font-size: 1rem;
    }
    .top-half h1 {
        font-size: 7.5rem;
    }
    .top-half p {
        font-size: 1.5rem;
    }
}



@media (min-width: 1900px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1820px;
    }
}



input:focus,
textarea:focus {
    outline: .5px solid black;
}
