html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

/* CSS Styling for Responsive Header Below */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(to bottom, #FAF1DF 30%, transparent);
    z-index: 9998;
    top: 0;
    min-height: 175px;
    font-family: 'Comfortaa', cursive;
    position: absolute;

    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    padding: 0 20px;
    white-space: nowrap;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: -50px;
}

.logo {
    max-width: 100%;
    height: auto;
    padding: 50px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-options {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 20px 50px;
}

.nav-options a:hover {
    font-size: 1rem;
    text-decoration: underline;
    transition: all 0.5s ease;
}

@media (max-width: 1070px) {
    header {
        flex-direction: column;
        align-items: center;
        margin: -180px 0 0 0;
    }
    .header {
        min-height: 350px;
    }
    .logo {
        padding: 0;
    }
}

@media (max-width: 730px) {
    header {
        margin: -220px 0 0 0;
    }
    .header {
        min-height: 500px;
    }
    .nav-options {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

/* CSS Styling for Responsive Header Above */

.hero-content h1 {
    font-size: 8rem;
    margin-bottom: 15px;
    white-space: nowrap;
}

.hero-content h2 {
    font-size: 1.375rem;
    font-family: 'Comfortaa', cursive;
}
  
.hero-content p {
    font-size: 1.125rem;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
}

.hero-section {
    position: relative;
    text-align: center;
    padding: 0 70px;
    background: url('Portfolio_Images/01_new_home_bg.png') no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    margin-top: 50px;
    text-align: left;
    flex: 1;
}

.hero-image {
    max-width: 48%;
    height: auto;
    margin: 220px 0 50px 0;
}

@media (max-width: 1070px) {
    .hero-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .hero-content {
      text-align: center;
      flex: 1;
      margin-top: 200px;
      z-index: 9999;
    }
    .hero-content p {
        font-size: 1.06rem;
    }
    .hero-image {
      margin: -50px 0 0 -350px;
    }
}

@media (max-width: 730px) {
    .hero-content {
        text-align: center;
        flex: 1;
        margin-top: 300px;
        z-index: 9999;
      }
    .hero-content h1 {
        font-size: 4.2rem;
    }
    .hero-content h2 {
        font-size: 1.125rem;
    }
    .hero-content p {
        font-size: 1.05rem;
    }
    .hero-image {
        justify-content: center;
        align-items: center;
    }
    .building-sketch {
        max-width: 450px;
        padding: 10px 20px;
        justify-content: center;
    }
}

.my-work-section {
    font-size: 6rem;
    text-align: center;
    background: url('Portfolio_Images/01_my_work_title_bg.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.my-work-section h3 {
    font-size: 6rem;
    text-align: center;
    white-space: nowrap;
}

.my-work-title-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

h4 {
    font-size: 4.875rem;
}

h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 30px;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 20px 0;
}

@media (max-width: 730px) {
    .my-work-section h3 {
        font-size: 3.5rem;
    }
    .my-work-title-img {
        max-width: 150px;
    }
}

.synchrovae-container {
    overflow-x: hidden;
}

.synchrovae-container h4 {
    font-size: 3.8rem;
}

.synchrovae-container h5 {
    font-size: 1.125rem;
}

.synchrovae-container p {
    font-size: .9rem;
}

.synchrovae-title-icon {
    gap: 20px;
    justify-content: center;
}

.synchrovae-icon {
    max-width: 20%;
    height: auto;
}

.stacked-images {
    position: relative;
}

.synchrovae-button img {
    position: absolute;
    max-width: 35%;
}

.stacked-images .button-top:hover {
    opacity: 0;
}

@media (min-width: 730px) {
    .synchrovae-container {
        padding: 0 50px 0 0;
    }
    .synchrovae-container h5 {
        text-align: right;
    }
    .synchrovae-container p {
        text-align: right;
        font-size: .8rem;
    }
    .synchrovae-button img {
        top: 0;
        right: 0;
    }
}

@media (min-width: 1070px) {
    .synchrovae-container {
        padding: 0 100px 0 0;
    }
    .synchrovae-container h5 {
        font-size: 1.375rem;
    }
    .synchrovae-container h4 {
        font-size: 4.875rem;
    }
    .synchrovae-container p {
        font-size: 1.125rem;
    }
    .synchrovae-icon {
        max-width: 100%;
    }
    .synchrovae-title {
        margin-left: -100px;
    }
    .synchrovae-text {
        margin-top: -150px;
    }
    .synchrovae-title-icon {
        justify-content: end;
    }
    .synchrovae-button img {
        max-width: 25%;
    }
}

