html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.background-image {
    background: url('Portfolio_Images/about-me-page-background.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
}

.header {
    background-image: linear-gradient(to bottom, #FAF1DF 30%, transparent);
    z-index: 9999;
    top: 0;
    height: 175px;
    font-family: 'Comfortaa', cursive;
    padding: 0 50px;
    position: relative;
}
  
.logo {
    max-height: 80px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
}
  
.nav-links li:last-child {
    margin-right: 0;
}
  
.nav-links li a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    transition: all 0.5s ease;
    padding-left: 72px;
}
  
.nav-links li a:hover {
    font-size: 1rem;
    text-decoration: underline;
}

.hero-container {
    margin-top: 200px;
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 1200px) {
    .hero-container {
        background-color: transparent;
        margin-top: 0px;
    }
}

.hero-container {
    margin-top: -175px;
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 1200px) {
    .hero-container {
        background-color: transparent;
        margin-top: 0px;
    }
}

.container {
    margin-top: 51px;
}

h1 {
    font-size: 6rem;
}
  
.hero-content h1 {
    text-align: right;
    white-space: nowrap;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.375rem;
}

.hero-content h2 {
    text-align: right;
    margin: 30px 30px 0 0;
}

h3 {
    font-size: 4.5rem;
}

.hero-content h3 {
    text-align: right;
}

p {
    font-family: 'Comfortaa', cursive;
    line-height: 1.5;
    font-size: 1rem
}

.hero-content p {
    font-family: 'Comfortaa', cursive;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: right;
    margin-left: 200px;
}

.image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.opening-content {
    margin: -30px 50px 0 0;
}

.hero-content {
    margin-top: 80px;
}

.skill-section {
    margin-top: -260px;
}

.skill-section h1 {
    text-align: center;
}

.skill-title-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather-1 {
    margin: -30px 0 0 -30px;
}

.skill-set-chart {
    margin-top: -260px;
}

.skill-set-row {
    height: 100vh;
}

.skill-set-image {
    display: block;
    width: 87%;
    height: auto;
    margin: 0 auto;
}

.specialties-assets {
    margin-top: -170px;
}

.specialties-assets h1 {
    text-align: center;
    margin: 35px 0 0 -50px;
}

.specialties-assets-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather-2 {
    margin-left: -350px;
}

.specialties-assets-img-section {
    margin: -310px 100px 0 90px;
}

.circle-chart {
    width: 96%;
    margin-top: 130px;
}

.standing-portrait {
    width: 62%;
    margin: -200px 0 0 -150px;
}

.design-process {
    margin-top: 180px;
}

.design-process img {
    margin-top: 110px;
    width: 110%;
}

.design-process p {
    text-align: left;
}

.text-left1 {
    margin: 50px 45px 20px 45px;
}

.text-left2 {
    margin: 0 45px;
}

.my-goal {
    margin: -150px 0 0 150px;
    margin-top: -150px;
}

.my-goal-img {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.feather-3 {
    margin-left: -50px;
}

.my-goal-img-section {
    margin-top: -500px;
}

.goal-note {
    max-width: 200%;
    margin: 20px 0 0 -100px;
}

.sitting-portrait {
    margin-left: -10px;
}

.my-journey {
    margin-top: 170px;
}

.journey-header-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.journey-header-container {
    text-align: center;
}

.ui {
    margin-left: -30px;
}

.journey-header-content {
    display: flex;
    align-items: center;
}

.timeline-image-section {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}


footer {
    background-image: linear-gradient(to top, #FAF1DF 50%, transparent);
    bottom: 0;
    font-family: 'Comfortaa', cursive;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.footer-row-1 {
    height: 100px;
    margin-top: 200px;
}

footer .img-fluid {
    margin-top: -50px;
}

.row1-column3 {
    margin-top: 40px;
}

.my-work-header {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.in-touch {
    font-size: 1.12rem;
    font-weight: bold;
}

.synchrovae-link, .bsa-link, .pharmacy-link, .student-link, .number-link, .email-link {
    font-size: 1rem;
    text-decoration: underline;
}

.synchrovae-link:hover, .bsa-link:hover, .pharmacy-link:hover, .student-link:hover, .number-link:hover, .email-link:hover {
    font-size: 1.02rem;
    font-weight: bold;
    transition: all .5s ease;
}