html {
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: linear-gradient(to bottom, #FEC086 30%, transparent);
    z-index: 9999;
    top: 0;
    height: 175px;
    font-family: 'Comfortaa', cursive;
    padding: 0 50px;
    position: relative;
}
  
.logo {
    max-height: 80px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
}
  
.nav-links li:last-child {
    margin-right: 0;
}
  
.nav-links li a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    transition: all 0.5s ease;
    padding-left: 72px;
}
  
.nav-links li a:hover {
    font-size: 1rem;
    text-decoration: underline;
}


.hero-container {
    background-color: #f5f5f5;
    margin-top: -175px;
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 1200px) {
    .hero-container {
        background-color: transparent;
        margin-top: 0px;
    }
}

.row {
    align-items: center;
    justify-content: center;
}

.hero-content {
    padding: 180px 0 100px 103px;
}
  
.hero-content h1 {
    font-size: 8rem;
    margin-bottom: 50px;
    line-height: 80%;
}
  
.hero-content p {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 30px;
}
  
.hero-image {
    background-image: url('Portfolio_Images/3-pharmacy-opening-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (max-width: 1200px) {
    .hero-image {
        height: 400px;
    }
}
  
@media (max-width: 767px) {
    .hero-content {
      padding: 50px;
    }
}

.orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.orange-container .row {
    align-items: center;
    justify-content: center;
}
  
.orange-container .col {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.no-wrap {
    white-space: nowrap;
}
  
.orange-container .row .col + .col {
    margin-left: -45px;
}
  
@media (max-width: 767px) {
    body {
      font-size: 3rem;
    }
}

.container {
    margin-top: 50px;
}

.project-overview p {
    width: 1038px;
}

h4, p, li {
  font-family: "Comfortaa", cursive;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

p, li {
    font-size: 1rem;
}

.problem p, .solution p {
    width: 500px;
}

.problem {
    margin-right: -70px;
    margin-left: 50px;
}

.overview-details {
    align-items: flex-start;
    margin-left: 90px;
    margin-right: 60px;
}

.my-roles {
    margin-left: -15px;
}

.project-type ul li {
    width: 200px;
}

.platform {
    margin-left: 50px;
}

.timeline {
    margin-left: 25px;
}


.stack-container {
    margin-right: -35px;
    margin-top: -55px;
}

.divider {
    margin-right: -20px;
    margin-left: -20px;
}

.bottom-image {
    position: absolute;
    margin: 0;
}

.top-image {
    position: absolute;
    margin: 0;
}

.image-stack .top-image:hover {
    opacity: 0;
}

.label {
    text-align: center;
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    margin-left: -37px;
    margin-right: -37px;
    margin-top: 20px;
}

.research-orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-process-research {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
}

.stack-container-small {
    margin-right: -60px;
    margin-left: -60px;
    margin-top: -55px;
}

.research-plan-paragraph {
    margin: 20px -50px 20px;
}

.research-plan-title {
    margin-left: -50px;
    margin-top: -20px;
}

.pill-icons {
    margin-top: -320px;
}


.quotes-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin-top: -350px;
}

.quotes-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes-column1, .quotes-column2, .quotes-column3, .quotes-column4 {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote1, .quote2, .quote3, .quote4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quote1 p, .quote2 p, .quote3 p, .quote4 p {
    margin: 10px 0;
}

.website-analysis {
    background-color: #F8F8F8;
    padding: 20px 70px 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-top: 30px;
}

h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.custom-row {
    margin: 0 100px;
}

.image-container-annotations {
    text-align: center;
}

.image-container-annotations img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 50px;
}

.annotations-paragraphs-container {
    max-width: 505px;
}

.custom-row {
    margin: 0 100px;
}

.path-analysis-container {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 480px;
    display: block;
    justify-content: center;
    padding: 60px 0;
}

.image-container-path-analysis {
    text-align: right;
}

.image-container-path-analysis img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 60px;
}

.path-analysis-paragraphs-container {
    text-align: right;
    max-width: 450px;
    margin-left: 60px;
}

.image-container-heuristic {
    text-align: center;
}

.image-container-heuristic img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0 100px;
}

.image-container-heuristic-icons img {
    margin-left: 120px;
}

.heuristic-paragraphs-container {
    max-width: 505px;
}

.interface-analysis {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 590px;
    display: block;
    justify-content: center;
    padding: 50px 0;
    margin-top: 50px;
}

.interface-analysis-title {
    padding-bottom: 10px;
}

.interface-analysis-paragraph {
    padding-bottom: 10px;
}

.interface-analysis-row {
    margin-left: 10px;
}

.empathize-orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-process-empathize {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
}

.personas-title {
    padding-bottom: 10px;
    margin-top: 10px;
}

.personas-columns {
    text-align: center;
    margin: -80px -60px;
}

.proto-persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 60px;
}

.proto-title {
    display: flex;
    gap: 10px;
    text-align: center;
}

.proto-title h5,
.proto-title p {
    margin: 0;
}

.personas-row {
    display: flex;
    justify-content: center;
}

.proto-persona-image {
    display: block;
    margin: 0 auto;
    margin-top: -10px;
}

.user-persona-subtitle {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -20px;
}

.user-persona {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 1070px;
    display: block;
    justify-content: center;
    padding: 50px 0;
    margin-top: 110px;
}

.user-persona-title {
    padding-bottom: 10px;
}

.user-persona-paragraph {
    padding-bottom: 20px;
}

.define-orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-process-define {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
}

.project-motivation-title {
    padding-bottom: 10px;
    margin-top: 10px;
}

.citations {
    margin-top: 10px;
}

.citations p {
    text-align: center;
    text-decoration: underline;
    color: #2396E0;
}

.problem-goal {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 360px;
    display: block;
    justify-content: center;
    padding: 55px 0;
    margin-top: 70px;
}

.problem-statement p, .my-goal p {
    width: 500px;
}

.problem-statement {
    margin-right: -70px;
    margin-left: 50px;
}

.ideate-orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-process-ideate {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
}

.mood-board-title {
    padding-bottom: 10px;
    margin-top: -40px;
}

.mood-board-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: -150px auto 0;
}

.typography-hierarchy {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 540px;
    display: block;
    justify-content: center;
    padding: 10px 0;
}

.typography-hierarchy-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px
}

.typography-hierarchy-columns {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    text-align: left; 
    padding: 0 30px; /* Add padding to the columns */
}

.typography-hierarchy-columns h4,
.typography-hierarchy-columns p {
    margin-top: 10px;
    max-width: 515px;
}

.typography-hierarchy-columns img {
    display: block;
    max-width: 100%; /* Make the images responsive */
    height: auto;
}

.style-guide-title {
    padding-bottom: 10px;
}

.style-guide-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: -380px auto 0;
}

.prototype-orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -280px;
}

.design-process-prototype {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
}

.card-sorting-container {
    max-width: 100%;
    height: 500px;
    display: block;
    justify-content: center;
    padding: 60px 0;
    margin-top: -30px;
}
.image-container-card-sorting {
    text-align: right;
}

.image-container-card-sorting img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 60px;
}

.card-sorting-paragraphs-container {
    text-align: right;
    max-width: 490px;
}

.sitemap-container {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 640px;
    display: block;
    justify-content: center;
    padding: 50px 0;
    margin-top: 160px;
}

.image-container-sitemap {
    text-align: center;
    margin-right: -100px;
}

.image-container-sitemap img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sitemap-paragraphs-container {
    max-width: 515px;
}

.sitemap-paragraphs-container ul li {
    padding-bottom: 10px;
}

.sketches-title {
    padding-bottom: 10px;
}

.sketches-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: -430px auto 0;
}

.wireframes {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 600px;
    display: block;
    justify-content: center;
    padding: 50px 0;
    margin-top: -400px;
}

.wireframes-title {
    padding-bottom: 10px;
}

.wireframes-paragraph {
    padding-bottom: 20px;
}

.components-assets {
    margin-top: 50px;
}

.components-assets-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 20px;
}

.components-assets-columns {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    text-align: left; 
}

.components-assets-columns h4,
.components-assets-columns p {
    margin-top: 10px;
    max-width: 515px;
}

.components-assets-columns img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clickable-prototype {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 1000px;
    display: block;
    justify-content: center;
    padding: 50px 0;
    margin-top: 50px;
}

.clickable-prototype-title {
    padding-bottom: 10px;
}

.clickable-prototype-paragraph {
    padding-bottom: 20px;
}

.test-orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-process-test {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
}

.ab-testing-title {
    padding-bottom: 10px;
}

.ab-testing-images {
    max-width: 100%;
    height: 510px;
    display: block;
    justify-content: center;
    padding: 10px 0;
    margin-top: -50px;
}

.ab-testing-images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px
}

.ab-testing-images-columns {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    text-align: left; 
    padding: 0 40px; /* Add padding to the columns */
}

.ab-testing-images-columns img {
    display: block;
    max-width: 100%;
    height: auto;
}

.user-testing p {
    max-width: 540px;
    margin-top: 20px;
}

.user-testing ol li {
    padding-bottom: 8px;
}

.user-testing ol li {
    padding-bottom: 8px;
}

.iterations p {
    max-width: 513px;
    margin-top: 20px;
}

.testing-iterations {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    margin-top: -50px;
}

.user-testing-row, .iterations-image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iterations-image {
    max-width: 100%;
    height: auto;
    margin-top: -540px;
    margin-left: 20px;
}

.conclusion-orange-container {
    background-color: #FEC086;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-process-conclusion {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
}

.laptop-layers-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: -380px 0 0 50px;
}

.laptop-layers-container {
    align-items: center;
    justify-content: center;
}

.final-steps-takeaway {
    margin-top: -350px;
}

.text-column1-conclusion {
    margin-right: 20px;
}

.next-steps-title {
    margin-top: 50px;
}

.next-steps-paragraph ul li {
    padding-bottom: 15px;
}

.before-after {
    background-color: #F8F8F8;
    max-width: 100%;
    height: 460px;
    display: block;
    justify-content: center;
    padding: 10px 0;
    margin-top: 50px;
}

.before-after-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px
}

.before-after-columns {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    text-align: left; 
    padding: 0 40px; /* Add padding to the columns */
}

.before-after-columns h4,
.before-after-columns p {
    margin-top: 10px;
    max-width: 515px;
}

.before-after-columns img {
    display: block;
    max-width: 100%;
    height: auto;
}

.closer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.closer h1 {
    font-size: 9rem;
    margin-top: 30px;
}

.closer-column {
    text-align: center;
}

.closer-header {
    margin-top: -260px;
}

.closing-laptop-image {
    margin-top: -280px;
}

footer {
    background-image: linear-gradient(to top, #FEC086 50%, transparent);
    bottom: 0;
    font-family: 'Comfortaa', cursive;
    margin-top: -180px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.footer-row-1 {
    height: 100px;
    margin-top: 200px;
}

.img-fluid {
    margin-top: -50px;
}

.row1-column3 {
    margin-top: 40px;
}

.my-work-header {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.in-touch {
    font-size: 1.12rem;
    font-weight: bold;
}

.synchrovae-link, .bsa-link, .pharmacy-link, .student-link, .number-link, .email-link {
    font-size: 1rem;
    text-decoration: underline;
}

.synchrovae-link:hover, .bsa-link:hover, .pharmacy-link:hover, .student-link:hover, .number-link:hover, .email-link:hover {
    font-size: 1.02rem;
    font-weight: bold;
    transition: all .5s ease;
}