html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.background-image {
    background: url('Portfolio_Images/contact-page-background.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
}

.header {
    background-image: linear-gradient(to bottom, #FAF1DF 30%, transparent);
    z-index: 9999;
    top: 0;
    height: 175px;
    font-family: 'Comfortaa', cursive;
    padding: 0 50px;
    position: relative;
}
  
.logo {
    max-height: 80px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
}
  
.nav-links li:last-child {
    margin-right: 0;
}
  
.nav-links li a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    transition: all 0.5s ease;
    padding-left: 72px;
}
  
.nav-links li a:hover {
    font-size: 1rem;
    text-decoration: underline;
}

.hero-container {
    background-color: #f5f5f5;
    margin-top: -175px;
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 1200px) {
    .hero-container {
        background-color: transparent;
        margin-top: 0px;
    }
}

h1 {
    font-size: 6rem;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-size: 1.125rem;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 1.125rem;   
}

.hand-sketch-section {
    margin: 0 100px;
}

.custom-text-width {
    max-width: 53%; 
}

.custom-image-size img {
    width: 115%;
    margin-top: -40px
}

.message-info-section {
    margin-top: -220px;
    margin-left: 60px;
}

.rectangle {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: 1.5px solid black;
    text-align: center;
    line-height: 33px;
    margin: 10px auto;
    font-family: 'Comfortaa', cursive;
    font-size: .75rem;
    color: #7C7C7C;
    text-align: left;
    padding: 3px 0 0 10px;
    margin-left: -55px;
}

.big-rectangle {
    height: 130px;
}

.image-container {
    position: relative;
}

.image-with-rectangles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-sketch-section img {
    width: 90%;
}

.stacked-images {
    position: relative;
    margin-left: 40px;
}

.submit-button img {
    position: absolute;
    top: 0;
    left: 0;
}

.stacked-images .button-top:hover {
    opacity: 0;
}

.column-1 h2 {
    margin-left: 40px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-2 img {
    padding-top: 32px;
}

.column-3 {
    margin: -10px 0 0 -100px;
}

.column-3 p {
    margin-top: 98px;
}

.column-3 p:hover {
    font-size: 1.25 rem;
    font-weight: bold;
    text-decoration: underline;
    transition: all .5s ease;
}

.column-3 h2 {
    margin-top: 80px;
    margin-right: 55px;
    text-align: right;
    text-decoration: none;
}

footer {
    background-image: linear-gradient(to top, #FAF1DF 50%, transparent);
    bottom: 0;
    font-family: 'Comfortaa', cursive;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.footer-row-1 {
    height: 100px;
    margin-top: 200px;
}

footer .img-fluid {
    margin-top: -50px;
}

.row1-column3 {
    margin-top: 40px;
}

.my-work-header {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.in-touch {
    font-size: 1.12rem;
    font-weight: bold;
}

.synchrovae-link, .bsa-link, .pharmacy-link, .student-link, .number-link, .email-link {
    font-size: 1rem;
    text-decoration: underline;
}

.synchrovae-link:hover, .bsa-link:hover, .pharmacy-link:hover, .student-link:hover, .number-link:hover, .email-link:hover {
    font-size: 1.02rem;
    font-weight: bold;
    transition: all .5s ease;
}