html {
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: linear-gradient(to bottom, #72B0FF 30%, transparent);
    z-index: 9999;
    top: 0;
    height: 175px;
    font-family: 'Comfortaa', cursive;
    padding: 0 50px;
    position: relative;
}
  
.logo {
    max-height: 80px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
}
  
.nav-links li:last-child {
    margin-right: 0;
}
  
.nav-links li a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    transition: all 0.5s ease;
    padding-left: 72px;
}
  
.nav-links li a:hover {
    font-size: 1rem;
    text-decoration: underline;
}

.hero-container {
    background-color: #f5f5f5;
    margin-top: -175px;
}

@media (max-width: 1200px) {
    .hero-container {
        background-color: transparent;
        margin-top: 0px;
    }
}

.row {
    align-items: center;
    justify-content: center;
}

.hero-content {
    padding: 180px 100px 100px 103px;
    z-index: 100;
}
  
.hero-content h1 {
    font-size: 9rem;
    margin-bottom: 15px;
}
  
.hero-content p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 30px;
}
  
.hero-image {
    background-image: url('Portfolio_Images/1-synchrovae-opening-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (max-width: 1200px) {
    .hero-image {
        height: 400px;
    }
}
  
@media (max-width: 767px) {
    .hero-content {
      padding: 50px;
    }
}
  
.blue-container {
    background-color: #72B0FF;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.blue-container .row {
    align-items: center;
    justify-content: center;
}
  
.blue-container .col {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.no-wrap {
    white-space: nowrap;
}
  
.blue-container .row .col + .col {
    margin-left: -45px;
}
  
@media (max-width: 767px) {
    body {
      font-size: 3rem; /* Adjust font size for smaller screens */
    }
}

.container {
    margin-top: 50px;
}

.project-overview p {
    width: 1038px;
}

h4, p, li {
  font-family: "Comfortaa", cursive;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

p, li {
    font-size: 1rem;
}

.problem p, .solution p {
    width: 500px;
}

.overview-details {
    align-items: flex-start;
    margin-left: 20px;
}

.my-roles {
    margin-left: -15px;
}

.project-type ul li {
    width: 200px;
}

.platform {
    margin-left: 50px;
}

.timeline {
    margin-left: 25px;
}

.stack-container {
    margin-right: -35px;
    margin-top: -55px;
}

.divider {
    margin-right: -5px;
    margin-left: -10px;
}

.bottom-image {
    position: absolute;
    margin: 0;
}

.top-image {
    position: absolute;
    margin: 0;
}

.image-stack .top-image:hover {
    opacity: 0;
}

.label {
    text-align: center;
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    margin-left: -27px;
    margin-right: -27px;
    margin-top: 20px;
}

.research-blue-container {
    background-color: #72B0FF;
    padding: 50px 0;
    font-family: "Allison", cursive;
    font-size: 4rem;
    line-height: 1.5;
    height: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-process-research {
    height: 100px;
    background-color: white;
    top: 0;
    position: sticky;
}

.stack-container-small {
    margin-right: -60px;
    margin-left: -60px;
    margin-top: -55px;
}

