html {
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

header {
    background-image: linear-gradient(to bottom, #72B0FF 75%, transparent);
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    top: 0;
    height: 175px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}

.logo {
    width: 228px;
    height: 78px;
    padding: 17px 50px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 47px 50px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 70px;
    color: #000000;
    transition: all .5s ease;
}

nav ul li a:hover {
    font-size: 16px;
    text-decoration: underline;
}

.main {
    display: flex;
    margin-left: 100px;
    align-items: center;
}

.opening-text {
    margin-top: -100px;
}

.opening-h1 {
    font-family: 'Allison', cursive;
    font-size: 128px;
    margin-bottom: 0px;
}

.opening-h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: -5px;
    font-family: 'Comfortaa', cursive;
}

.opening-collage {
    max-width: 100%;
    width: 1200px;
    height: auto;
}

.project-information-section {
    transform: translateY(-6px);
}

.project-information-title {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    justify-content: center;
}

.project-title-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateY(-250px);
}

.project-title-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
}

.project-title-bottom-left {
    transform: translateX(12px);
}

.project-title-bottom-right {
    transform: translateX(-12px);
}

.project-title-box {
    height: 200px;
    width: 100%;
    background-color: #72B0FF;
}

.project-overview {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin: 200px;
    width: 1038px;
    margin-top: -260px;
}

.overview-title {
    font-size: 20px;
    font-weight: bold;
}

.overview-paragraph {
    font-size: 16px
}

.problem-solution {
    display: flex;
    text-align: left;
    margin: 200px;
    gap: 40px;
    margin-top: -180px;
}

.problem-title, .solution-title {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
}

.problem-paragraph, .solution-paragraph {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    width: 500px;
}

.overview-details {
    display: flex;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    gap: 90px;
    margin: 200px;
    margin-top: -170px;
}

.overview-details li {
    font-size: 16px;
    line-height: 1.5;
    margin-left: -20px;
}

.overview-details ul {
    margin-top: -10px;
}

.project-type-title, .timeline-title, .my-roles-title, .platform-title, .tools-title {
    font-size: 20px;
    font-weight: bold;
}

.design-process-title {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 200px;
    margin-top: -210px;
}

.design-process-main-circles {
    display: flex;
    position: relative;
    margin-left: 210px;
    margin-right: 220px;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-125px);
    z-index: -1;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: -1;
    background-color: #72B0FF;
}

.circle2 {
    transform: translateX(4px);
}

.circle3 {
    transform: translateX(4px);
}

.circle5 {
    transform: translateX(-3px);
}

.circle6 {
    transform: translateX(-4px);
}

.circle-1-main, .circle-2-main, .circle-3-main, .circle-4-main, .circle-5-main, .circle-6-main, .circle-7-main {
    background-color: white;
}

.circle-1-main:hover, .circle-2-main:hover, .circle-3-main:hover, .circle-4-main:hover, .circle-5-main:hover, .circle-6-main:hover, .circle-7-main:hover {
    background-color: transparent;
}

.design-process-main {
    font-family: 'Comfortaa', cursive;
    display: flex;
    margin: 200px;
    margin-top: -190px;
}

.line-big {
    width: 80px;
    height: 1px;
    background-color: black;
    margin-top: 38px;
}

.research-1, .empathize-2, .define-3, .ideate-4, .prototype-5, .test-6, .conclusion-7 {
    font-size: 32px;
    font-weight: light;
    margin-top: -68px;
    pointer-events: none;
}

.research-label, .empathize-label, .define-label, .ideate-label, .prototype-label, .test-label, .conclusion-label {
    font-size: 16px;
}

.research-section {
    margin-top: -150px;
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    transform: translateY(10px);
}

.research-title-box {
    height: 100px;
    width: 100%;
    background-color: #72B0FF;
}

.research-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-research {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.blue-circle-1 {
    width: 30px;
    height: 30px;
    background-color: #72B0FF;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(49px);
    z-index: -1;
}

.research-small-circle-div1, .empathize-small-circle-div1, .define-small-circle-div1, .ideate-small-circle-div1, .prototype-small-circle-div1, .test-small-circle-div1, .conclusion-small-circle-div1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empathize-small-circle-div1:hover, .define-small-circle-div1:hover, .ideate-small-circle-div1:hover, .prototype-small-circle-div1:hover, .test-small-circle-div1:hover, .conclusion-small-circle-div1:hover {
    color: #72B0FF;
}

.research-small-circle-div2, .empathize-small-circle-div2, .define-small-circle-div2, .ideate-small-circle-div2, .prototype-small-circle-div2, .test-small-circle-div2, .conclusion-small-circle-div2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.research-small-circle-div2:hover, .define-small-circle-div2:hover, .ideate-small-circle-div2:hover, .prototype-small-circle-div2:hover, .test-small-circle-div2:hover, .conclusion-small-circle-div2:hover {
    color: #72B0FF;
}

.research-small-circle-div3, .empathize-small-circle-div3, .define-small-circle-div3, .ideate-small-circle-div3, .prototype-small-circle-div3, .test-small-circle-div3, .conclusion-small-circle-div3 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.research-small-circle-div3:hover, .empathize-small-circle-div3:hover, .ideate-small-circle-div3:hover, .prototype-small-circle-div3:hover, .test-small-circle-div3:hover, .conclusion-small-circle-div3:hover {
    color: #72B0FF;
}


.research-small-circle-div4, .empathize-small-circle-div4, .define-small-circle-div4, .ideate-small-circle-div4, .prototype-small-circle-div4, .test-small-circle-div4, .conclusion-small-circle-div4 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.research-small-circle-div4:hover, .empathize-small-circle-div4:hover, .define-small-circle-div4:hover, .prototype-small-circle-div4:hover, .test-small-circle-div4:hover, .conclusion-small-circle-div4:hover {
    color: #72B0FF;
}


.research-small-circle-div5, .empathize-small-circle-div5, .define-small-circle-div5, .ideate-small-circle-div5, .prototype-small-circle-div5, .test-small-circle-div5, .conclusion-small-circle-div5 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.research-small-circle-div5:hover, .empathize-small-circle-div5:hover, .ideate-small-circle-div5:hover, .define-small-circle-div5:hover, .test-small-circle-div5:hover, .conclusion-small-circle-div5:hover {
    color: #72B0FF;
}

.research-small-circle-div6, .empathize-small-circle-div6, .define-small-circle-div6, .ideate-small-circle-div6, .prototype-small-circle-div6, .test-small-circle-div6, .conclusion-small-circle-div6 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.research-small-circle-div6:hover, .empathize-small-circle-div6:hover, .ideate-small-circle-div6:hover, .define-small-circle-div6:hover, .prototype-small-circle-div6:hover, .conclusion-small-circle-div6:hover {
    color: #72B0FF;
}

.research-small-circle-div7, .empathize-small-circle-div7, .define-small-circle-div7, .ideate-small-circle-div7, .prototype-small-circle-div7, .test-small-circle-div7, .conclusion-small-circle-div7 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.research-small-circle-div7:hover, .empathize-small-circle-div7:hover, .ideate-small-circle-div7:hover, .define-small-circle-div7:hover, .prototype-small-circle-div7:hover, .test-small-circle-div7:hover {
    color: #72B0FF;
}

.line-small-1, .line-small-2, .line-small-3, .line-small-4, .line-small-5, .line-small-6 {
    width: 60px;
    height: 1px;
    background-color: black;
    margin-top: -25px;
}

.line-small-2 {
    transform: translateX(-5px);
}

.line-small-4 {
    transform: translateX(5px);
}

.line-small-5 {
    transform: translateX(-8px);
}

.line-small-6 {
    transform: translateX(10px);
}

.research-1-small, .empathize-2-small, .define-3-small, .ideate-4-small, .prototype-5-small, .test-6-small, .conclusion-7-small {
    font-size: 16px;
    font-weight: bold;
    margin-top: -26px;
}

.research-label-small, .empathize-label-small, .define-label-small, .ideate-label-small, .prototype-label-small, .test-label-small, .conclusion-label-small {
    font-size: 12px;
    font-weight: bold
}

.user-interviews-text {
    text-align: left;
    margin: 200px;
    width: 1027px;
    margin-top: -100px;
}

.user-interviews-title {
    font-size: 20px;
    font-weight: bold;
}

.user-interviews-p1, .user-interviews-p2, .user-interviews-p3 {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 5px;
}

.speech-bubbles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
}

.speech-bubble-text {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 150px;
    margin-top: -300px;
    transform: translateX(-15px);
    gap: 160px;
}

.bubble-1-text {
    width: 223px;
    transform: rotate(-13.25deg);
    margin-top: 15px;
}

.bubble-2-text {
    width: 240px;
}

.bubble-3-text {
    width: 226px;
    transform: rotate(13.25deg);
    margin-top: 30px;
    margin-left: 30px;
}

.affinity-diagram-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    text-align: left;
    margin-top: 200px;
}

.affinity-diagram-paragraph {
    font-size: 16px;
    text-align: left;
    margin-left: 200px;
    width: 1080px;
}

.affinity-diagram-png {
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 30px;
}

.further-analysis-gray-box {
    height: 200px;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.further-analysis-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    transform: translateX(-453px);
}

.further-analysis-paragraph {
    font-size: 16px;
    text-align: left;
    width: 1080px;
    margin-top: -5px;
}

.chart-section-1 {
    display: flex;
    margin: 200px;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-120px);
}

.chart-section-1-question {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    width: 436px;
}

.chart-section-1-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 452px;
}

.chart-2-gray-box {
    height: 500px;
    width: 100%;
    background-color: #F8F8F8;
    margin-top: -240px;
}

.chart-section-2 {
    display: flex;
    margin: 200px;
    justify-content: space-between;
    align-items: center;
    margin-top: -425px;
}

.chart-section-2-question {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    width: 452px;
    text-align: right;
}

.chart-section-2-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 452px;
    text-align: right;
}

.chart-section-3 {
    display: flex;
    margin: 200px;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
}

.chart-section-3-question {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    width: 416px;
}

.chart-section-3-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 416px;
}

.competitor-analysis {
    align-items: center;
    justify-content: center;
    margin-top: -120px;
}

.competitor-analysis-gray-box {
    height: 1000px;
    width: 100%;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.competitor-analysis-title {
    font-size: 20px;
    font-weight: bold;
    margin: 200px;
    transform: translateY(55px);
}

.competitor-analysis-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin: 200px;
    width: 1080px;
    margin-top: -130px;
}

.competitor-analysis-png {
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-top: -150px;
}

.empathize-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    transform: translateY(10px);
}

.empathize-title-box {
    height: 100px;
    width: 100%;
    background-color: #72B0FF;
}

.empathize-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-empathize {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.blue-circle-2 {
    width: 30px;
    height: 30px;
    background-color: #72B0FF;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(181px);
    z-index: -1;
}

.personas-text {
    margin: 200px;
    text-align: left;
    margin-top: -100px;
}

.personas-titles {
    font-size: 20px;
    font-weight: bold;
}

.personas-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.personas-images {
    display: flex;
    margin: 170px;
    justify-content: space-between;
    text-align: center;
    margin-top: -170px;
}

.proto-persona {
    align-items: center;
    justify-content: center;
}

.proto-persona-title {
    font-size: 18px;
    text-align: center;
}

.user-persona {
    align-items: center;
    justify-content: center;
}

.user-persona-title {
    font-size: 18px;
    text-align: center;
}

.empathy-map-section {
    align-items: center;
    justify-content: center;
}

.empathy-map-gray-box {
    height: 868px;
    width: 100%;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.empathy-map-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 200px;
    transform: translateY(70px);
}

.empathy-map-paragraph {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
}

.empathy-map-png {
    margin-left: 300px;
    margin-top: 20px;
}

.define-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    transform: translateY(10px);
}

.define-title-box {
    height: 100px;
    width: 100%;
    background-color: #72B0FF;
}

.define-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-define {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.blue-circle-3 {
    width: 30px;
    height: 30px;
    background-color: #72B0FF;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(304px);
    z-index: -1;
}

.define-first-two-paragraph-sections {
    display: flex;
    text-align: left;
    margin: 150px;
    justify-content: space-between;
    margin-top: -120px;
}

.user-insight-statement-title {
    font-size: 20px;
    font-weight: bold;
}

.user-insight-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 515px;
}

.how-might-we-title {
    font-size: 20px;
    font-weight: bold;
}

.how-might-we-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 514px;
}

.how-might-we-list {
    font-size: 16px;
    line-height: 1.5;
    width: 514px;
}

.problem-statement-gray-box {
    height: 200px;
    width: 100%;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: -100px;
}

.problem-statement-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    transform: translateY(60px);
}

.problem-statement-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 200px;
    width: 1080px;
    transform: translateY(50px);
}

.like-wish-what-if-how-might-we {
    display: flex;
    margin: 100px;
    justify-content: space-between;
    text-align: left;
    transform: translateY(-50px);
}

.like-wish-what-if-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
}

.how-might-we-title {
    font-size: 20px;
    font-weight: bold;
}

.how-might-we {
    transform: translateX(-40px);
}

.how-might-we-png {
    margin-top: 20px;
}

.ideate-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    transform: translateY(10px);
}

.ideate-title-box {
    height: 100px;
    width: 100%;
    background-color: #72B0FF;
}

.ideate-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-ideate {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.blue-circle-4 {
    width: 30px;
    height: 30px;
    background-color: #72B0FF;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(414px);
    z-index: -1;
}

.ideate-labels {
    display: flex;
    justify-content: space-between;
    margin: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -100px;
    transform: translateX(-25px);
}

.ideate-circle-lines {
    display: flex;
    justify-content: space-between;
    margin: 250px;
    align-items: center;
    margin-top: -200px;
    transform: translateX(-25px);
}

.ideate-label-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: transparent;
}

.ideate-label-lines {
    width: 220px;
    height: 2px;
    background-color: #AAAAAA;
    border-radius: 5px;
}

.ideate-labels-blue-circle {
    height: 30px;
    width: 31px;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(48px);
    background-color: #72B0FF
}

.journey-map-label {
    transform: translateX(42px);
}

.value-proposition-label {
    transform: translateX(18px);
}

.ideate-pngs-section {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: space-between;
    margin-top: -200px;
}

.prototype-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    transform: translateY(10px);
}

.prototype-title-box {
    height: 100px;
    width: 100%;
    background-color: #72B0FF;
}

.prototype-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-prototype {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.blue-circle-5 {
    width: 30px;
    height: 30px;
    background-color: #72B0FF;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(534px);
    z-index: -1;
}

.user-flow-section {
    margin: 200px;
    text-align: left;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
}

.user-flow-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.user-flow-paragraph {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    width: 1080px;
}

.user-flow-png {
    margin: 40px;
}

.sketches-section {
    margin-top: -150px;
}

.sketches-section-gray-box {
    height: 835px;
    width: 100%;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.sketches-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
    transform: translateY(70px);
}

.sketches-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
    margin-left: 200px;
    margin-right: 200px;
    transform: translateY(70px);
}

.sketches-png {
    margin-left: 200px;
    margin-right: 200px;
    transform: translateY(90px);
}

.wireframes-prototype {
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    justify-content: space-between;
    text-align: left;
    transform: translateY(50px);
}

.wireframes-title {
    font-size: 20px;
    font-weight: bold;
}

.clickable-prototype-title {
    font-size: 20px;
    font-weight: bold;
}

.wireframes-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 515px;
}

.clickable-prototype-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 515px;
}

.digital-wireframes-png, .clickable-prototype-png {
    margin-top: 30px;
    transform: translateX(-10px);
}

.test-section {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    translate: transformY(10px);
}

.test-title-box {
    height: 100px;
    width: 100%;
    background-color: #72B0FF;
}

.test-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-test {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.blue-circle-6 {
    width: 30px;
    height: 30px;
    background-color: #72B0FF;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(649.5px);
    z-index: -1;
}

.guerrilla-user-testing {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    transform: translateY(-100px);
}

.guerrilla-user-testing-title {
    font-size: 20px;
    font-weight: bold;
}

.guerrilla-user-testing-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.scenarios {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    transform: translateY(-80px);
}

.scenario-1-title, .scenario-2-title, .scenario-3-title {
    font-size: 18px;
    font-weight: bold;
}

.scenario-1-paragraph, .scenario-2-paragraph, .scenario-3-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 320px;
}

.test-results-analysis-gray-box {
    height: 950px;
    width: 100%;
    background-color: #F8F8F8;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.test-results-analysis-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
    transform: translateY(65px);
}

.test-results-analysis-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
    margin-left: 200px;
    margin-right: 200px;
    transform: translateY(65px);
}

.test-results-analysis-png {
    margin-left: 250px;
    transform: translateY(100px);
}

.iterations-additional-elements {
    margin-right: 200px;
    margin-left: 200px;
    text-align: left;
    margin-top: 70px;
}

.iterations-additional-elements-title {
    font-size: 20px;
    font-weight: bold;
}

.iterations-additional-elements-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 1080px;
}

.iterations-additional-elements-pngs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.conclusion-section {
    margin-top: 80px;
}

.conclusion-title-box {
    height: 100px;
    width: 100%;
    background-color: #72B0FF;
}

.conclusion-title-text {
    font-family: 'Allison', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: -95px;
}

.design-process-conclusion {
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 5px;
    transform: translateY(-50px);
    margin-right: 150px;
}

.blue-circle-7 {
    width: 30px;
    height: 30px;
    background-color: #72B0FF;
    border-radius: 50%;
    margin-top: -25px;
    transform: translateX(770px);
    z-index: -1;
}

.top-conclusion-section {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    justify-content: space-between;
    align-content: center;
    font-family: 'Comfortaa', cursive;
    transform: translateY(-50px);
}

.final-prototype-title {
    font-size: 20px;
    font-weight: bold;
}

.final-prototype-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 501px;
}

.next-steps-title {
    font-size: 20px;
    font-weight: bold;
}

.next-steps-paragraph {
    font-size: 16px;
    line-height: 1.5;
    width: 514px;
}

.next-steps-list {
    font-size: 16px;
    line-height: 1.5;
    width: 514px;
    transform: translateX(-30px);
}

.next-steps-list li {
    padding-bottom: 20px;
}

.key-takeaways-gray-box {
    height: 310px;
    width: 100%;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'Comfortaa', cursive
}

.key-takeaways-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    transform: translateY(60px);
}

.key-takeaways-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 200px;
    margin-right: 200px;
    width: 1080px;
    transform: translateY(60px);
}

.ending-title {
    font-family: 'Allison', cursive;
    font-size: 128px;
    text-align: center;
    transform: translateY(-30px);
}

.synchrovae-conclusion-phones {
    margin-left: 140px;
    margin-right: 140px;
    transform: translateY(-130px);
}

footer {
    background-image: linear-gradient(to top, #72B0FF 75%, transparent);
    bottom: 0;
    height: 500px;
    width: 100%;
    transform: translateY(0px);
    font-family: 'Comfortaa', cursive;
}

.footer-top {
    display: flex;
    transform: translateY(200px);
    justify-content: center;
    margin-left: 108px;
}

.footer-logo {
    display: flex;
    height: 132px;
    width: 409px;
    transform: translateX(-90px);
}

.container {
    display: flex;
    text-align: left;
    transform: translateX(-40px);
    li {
        margin-bottom: 15px;
    }
}

.list-title {
    font-size: 20px;
    font-weight: bold;
}

.bullet-list-section {
    margin-top: 40px;
    transform: translateX(25px);
}

.footer-contact {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 880px;
    transform: translateX(300px);
    padding-bottom: 50px;
    bottom: 0
}

footer li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: regular;
    text-decoration: underline;
}

.in-touch {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.column li:hover {
    font-size: 17px;
    font-weight: bold;
    transition: all .5s ease;
}



