html {
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}


footer {
    background-image: linear-gradient(to top, #72B0FF 50%, transparent);
    bottom: 0;
    font-family: 'Comfortaa', cursive;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center content */
    height: 500px;
}

.footer-row-1 {
    height: 100px;
    margin-top: 200px;
}

.img-fluid {
    margin-top: -50px;
}

.row1-column3 {
    margin-top: 40px;
}

.my-work-header {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.in-touch {
    font-size: 1.125rem;
    font-weight: bold;
}

.synchrovae-link, .bsa-link, .pharmacy-link, .student-link, .number-link, .email-link {
    font-size: 1rem;
    text-decoration: underline;
}

.synchrovae-link:hover, .bsa-link:hover, .pharmacy-link:hover, .student-link:hover, .number-link:hover, .email-link:hover {
    font-size: 1.02rem;
    font-weight: bold;
    transition: all .5s ease;
}





