html {
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Allison', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.stack-container {
    margin-right: -40px;
}

.divider {
    margin-right: -20px;
    margin-left: -20px;
}

.bottom-image {
    position: absolute;
    margin: 0;
}

.top-image {
    position: absolute;
    margin: 0;
}

.image-stack .top-image:hover {
    opacity: 0;
}

.label {
    text-align: center;
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 20px;
}